<aside class="callout">
  <div class="text-vertical-center">
    <h1>Call your phone</h1>
  </div>
</aside>

<div class="form" style="margin: 100px 100px 0;">
<% if flash[:notice].present? %>
  <h4 class="text-primary" style="margin-bottom: 50px"><%= flash[:notice] %></h4>
<% end %>
<% if flash[:alert].present? %>
  <h4 class="text-danger" style="margin-bottom: 50px"><%= flash[:alert] %></h4>
<% end %>
<%= bootstrap_form_tag url: call_path do |f| %>
  <%= f.text_field :tel %>
  <%= f.submit 'Call' %>
<% end %>
</div>

<table>
  <tr>
    <th>作成日時</th>
    <th>音声</th>
  </tr>
  <% @recordings.each do |rec| %>
  <tr>
    <td><%= rec.created_at %></td>
    <td><%= link_to rec.url, rec.url, target: "_blank" %></td>
  </tr>
  <% end %>
</table>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <br>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Your Website 2015</p>
      </div>
    </div>
  </div>
</footer>
